<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Caregiver</title>
</head>
<body>
  <p>
    <h1> Hello, {{ username }}</h1>
    <p> Login as: Caregiver</p>
  </p>
  <section>
    <p> Upload your avaliability</p>
    <br>
    <form class="form" action="/user/upload", method="POST">
      <label for="date_input"> Please give your avaliable date
        (Please input in mm-dd-yy format) :
      </label>
      <input type="text" name="caregiver_date" id="caregiver_date_input" />
      <br>
      <button type="submit"> Submit </button>
    </form>
  </section>
  <br>
  <section>
    <form class="form" action="/user/caregiver_appointments", method="POST">
      <input type="hidden" name="appointments" id="patient_appointments" />
      <button type="submit"> Check your appointments </button>
    </form>
  </section>
  <br>
  <section>
    <form class="form" action="/", method="POST">
      <input type="hidden" name="logout" id="caregiver_logout" />
      <br>
      <button type="submit"> Logout </button>
    </form>
  </section>
</body>
</html>