<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Caregiver</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='style_search.css') }}">
<body>
  <p>
    <h1> Hello, {{ username }}</h1>
    <p> Login as: Caregiver</p>
  </p>
  <br>
  <br>
  <section>
    {% if result == 0 %}
    <h2> Sorry you already have an assgiend appointment on {{ date }}.</h2>
    {% elif result == 1 %}
    <h2> You already uploaded your avaliability on {{ date }}.</h2>
    {% else %}
    <h2> Your uploaded avaliability is confirmed on {{ date }}</h2>
    <br>
    <form class="form" action="/user/upload/add_finish", method="POST">
      <h3> You may add your vaccine doses if you provide more doses with you
        new avaliability</h3>
      <label for="add_name"> Added vaccine name:
      </label>
      <input type="text" name="vaccine" id="vaccine_name" />
      <br>
      <label for="add_doses"> Added vaccine doses:
      </label>
      <input type="text" name="doses" id="vaccine_doses" />
      <br>
      <button type="submit"> Submit </button>
    </form>
  </section>
    {% endif %}
  <br>
  <section>
    <form class="form" action="/user", method="GET">
      <input type="hidden" name="back" id="caregiver_back" />
      <br>
      <button type="submit"> Back to upload </button>
    </form>
    <form class="form" action="/", method="POST">
      <input type="hidden" name="logout" id="caregiver_logout" />
      <br>
      <button type="submit"> Logout </button>
    </form>
  </section>
</body>
</html>