<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient</title>
</head>
<body>
  <p>
    <h1> Hello, {{ username }}</h1>
    <p> Login as: Patient</p>
  </p>
  <section>
    {% if query_caregiver|length > 0%}
    <p> Here are avaliable caregivers for your chosen date: {{ date }} </p>
    <section>
      {% for entry in query_caregiver %}
      <p> {{ entry['Username'] }} </p>
      {% endfor %}
    </section>
    <section>
      <p> Here are avaliable vaccine: </p>
      {% for entry in query_vaccine %}
      <p> {{ entry['Name'] }} : {{ entry['Doses'] }} doses </p>
      {% endfor %}
    </section>
    <br>
    <form class="form" action="/user/search/reserve", method="POST">
      <label for="vaccine_input"> Which vaccine would you like to have:</label>
      <input type="text" name="patient_vaccine" id="vaccine_input" />
      <br>
      <label for="caregiver_input"> Which caregiver would you like to meet:</label>
      <input type="text" name="patient_caregiver" id="caregiver_input" />
      <button type="submit"> Reserve </button>
    </form>
    {% else %}
    <section>
      <p> Sorry, no avaliable caregiver for your chosen date: {{ date }}</p>
      <p> Please try a different date or wait for avaliability!</p>
    </section>
    {% endif %}
  </section>
  <br>
  <section>
    <form class="form" action="/user", method="GET">
      <input type="hidden" name="back" id="patient_back" />
      <br>
      <button type="submit"> Back to search </button>
    </form>
  </section>

</body>
</html>