<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='style_search.css') }}">
</head>
<body>
  <p>
    <h1> Hello, {{ username }}</h1>
    <p> Login as: Patient</p>
  </p>
  <br>
  <br>
  <section>
    <h2> Your vaccine appointment is successfully scheduled! </h2>
    <br>
    <p> Appointment ID : {{ query_reserve[0]['Id']}} </p>
    <p> Caregiver : {{ caregiver }} </p>
    <p> Vaccine type : {{ vaccine }} </p>
    <p> Date : {{ date }} </p>
  </section>
  <section>
    <form class="form" action="/", method="POST">
      <input type="hidden" name="logout" id="patient_logout" />
      <br>
      <button type="submit"> Logout </button>
    </form>
    <form class="form" action="/user", method="GET">
      <input type="hidden" name="back" id="patient_back" />
      <br>
      <button type="submit"> Back to search </button>
    </form>
  </section>
</body>
</html>